# Dependencies
/vendor/
/node_modules/

# Symfony
/var/
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/

# PHPUnit
/phpunit.xml
/.phpunit.cache/

# Built assets
/public/pop.min.js
/public/pop.min.css

# Environment
.env.local
.env.local.php
.env.*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
